########################################
# APPLICATION
########################################

APP_NAME="Netgrity WhatsApp API"

APP_ENV=development

APP_DEBUG=true

APP_URL=http://localhost

APP_TIMEZONE=Africa/Lagos

########################################
# DATABASE
########################################

DB_HOST=127.0.0.1

DB_PORT=3306

DB_DATABASE=whatsapp

DB_USERNAME=root

DB_PASSWORD=

########################################
# META
########################################

META_API_VERSION=v23.0

META_APP_ID=

META_APP_SECRET=

META_VERIFY_TOKEN=

META_ACCESS_TOKEN=

META_PHONE_NUMBER_ID=

WHATSAPP_TOKEN="EAAG..."
WHATSAPP_PHONE_NUMBER_ID="123456789"
WHATSAPP_BUSINESS_ACCOUNT_ID="987654321"
WHATSAPP_VERIFY_TOKEN="netgrity_secure_verify_token_2026"

########################################
# LOGGING
########################################

LOG_LEVEL=info