########################################
# APPLICATION
########################################

APP_NAME="Netgrity WhatsApp API"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

########################################
# META / WHATSAPP CLOUD API
########################################

META_API_VERSION=v25.0
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=

########################################
# DATABASE
########################################

DB_HOST=localhost
DB_PORT=3306
DB_NAME=netgrity_whatsapp_api
DB_USER=root
DB_PASS=






########################################
# APPLICATION
########################################

APP_NAME="Netgrity WhatsApp API"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

########################################
# META / WHATSAPP CLOUD API
########################################

META_API_VERSION=v25.0
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=

########################################
# DATABASE
########################################

DB_HOST=localhost
DB_PORT=3306
DB_NAME=netgrity_wa
DB_USER=root
DB_PASS=
